<div class="question">
  <p><%= "#{f.index + Settings.lesson_start_index}. #{f.object.question.
    content}" %></p>
  <ul>
    <% f.object.question.question_answers.each do |question_answer| %>
      <%= f.radio_button :content_answer, question_answer.id,
        {checked: f.object.content_answer.include?(question_answer.id.to_s)} %>
      <%= question_answer.content %><br/>
    <% end %>
  </ul>
</div>
