<div class="question">
  <p><%= "#{f.index + Settings.lesson_start_index}. #{f.object.question.
    content}" %></p>
  <ul>
    <% f.object.question.question_answers.each do |question_answer| %>
      <%= f.radio_button :question_answer_id, question_answer.id,
        {checked: f.object.question_answer_id, multiple: true} %>
      <%= question_answer.content %><br/>
    <% end %>
  </ul>
</div>
